{% extends "base.html" %}

{% block title %}Blog form{% endblock title %}

{% block extrastyles %}
    {% load static %}
    <!-- Additional styles for the home template -->
    <link rel="stylesheet" type="text/css" href="{% static 'blogform.css' %}">
{% endblock extrastyles %}

{% block body %}
<section class="wrapper mt-2">
    <div class="container" style="margin-top: 8%; margin-bottom:8%;">
        <div class="col-sm-12 col-lg-6 offset-lg-3 text-center">
            <form method="post" action="{% if post %}{% url 'editblog' slug=post.slug %}{% else %}{% url 'postcontent' %}{% endif %}" class="rounded-2 shadow p-5 mt-5" style="background-color: #FCF6F5; height: 600px;">


                {% csrf_token %}

                {% if post %}
                    <h3 class="text-dark fw-bolder fs-4 mb-2">Edit Blog Post</h3>
                {% else %}
                    <h3 class="text-dark fw-bolder fs-4 mb-2">Create a New Blog Post</h3>
                {% endif %}

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name='title' id="postTitle" placeholder="Blog Post Title" value="{% if post %}{{ post.title }}{% endif %}">
                    <label for="postTitle">Blog Post Title</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control" name='content' id="postContent" rows="15" placeholder="Write your blog post content here" style="height: 200px;">{% if post %}{{ post.content }}{% endif %}</textarea>
                    <label for="postContent">Blog Post Content</label>
                </div>

                <button type="submit" class="btn btn-success w-100 my-4">
                    {% if post %}
                        Update Blog Post
                    {% else %}
                        Publish Blog Post
                    {% endif %}
                </button>

            </form>
        </div>
    </div>
</section>
{% endblock body %}
