{% extends "base.html" %}

{% block title %}Verify{% endblock title %}

{% block extrastyles %}
    {% load static %}
    <!-- Additional styles for the home template -->
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">

{% endblock extrastyles %}

{% block body %}

<section class="wrapper mb-5 "style="margin-top:15%; ">
    <div class="container">
        <div class="col-sm-12 col-lg-4 offset-lg-3 col-xl-4 offset-xl-4 text-center">
            
            <form action="{% url 'verify_password_reset' email=email%}" method="post" class="rounded-2 shadow p-5 mt-1" style="background-color: #FCF6F5;">
                
                {%csrf_token %}

                <h3 class="text-dark fw-bolder fs-4 mb-2"> Verify account</h3>


                {% for field in otp_form %}
                    <div class="form-floating mb-3">
                        {{ field }}
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    </div>
               {% endfor %} 

               
                <button type="submit" class="btn custom-button submit_btn w-100 my-4" value="Submit">Verify</button>

            </form>
        </div>
    </div>
</section>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorModalBody">
                {% for error_message in error_messages %}
                    <p>{{ error_message }}</p>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModalBtn">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->

<script>
    // JavaScript to show the modal when there are error messages
    document.addEventListener('DOMContentLoaded', function () {
        var errorModal = document.getElementById('errorModal');
        var errorMessages = {% if error_messages %} true {% else %} false {% endif %};

        if (errorModal && errorMessages) {
            var bootstrapModal = new bootstrap.Modal(errorModal);
            bootstrapModal.show();
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        var closeModalBtn = document.getElementById('closeModalBtn');
        var errorModal = document.getElementById('errorModal');

        if (closeModalBtn && errorModal) {
            closeModalBtn.addEventListener('click', function () {
                var bootstrapModal = bootstrap.Modal.getInstance(errorModal);
                bootstrapModal.hide();
            });
        }
    });
</script>
{% endblock body %}