{% extends "base.html" %}

{% block title %}Donation History{% endblock title %}

{% block extrastyles %}
   
{% endblock extrastyles %}

{% block body %}
<div class="container py-4">
    <h1 class="text-center mb-4">Donation History</h1>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            {% if user_donations.count > 0 %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Campaign</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for donation in user_donations %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ donation.campaign.title }}</td>
                            <td>${{ donation.amount }}</td>
                            <td>{{ donation.date|date:"M d, Y" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="text-center" style="color: red;">No donations found.</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}