<!-- profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h2>User Profile</h2>
    <p>Username: {{ user.username }}</p>
    <p>bio: {{ user.bio }}</p>
    <p>Email: {{ user.email }}</p>
    <a href="{% url 'edit_profile' %}"><button>Edit Profile</button></a>
    <!-- Add other user profile information as needed -->
    <a href="{% url 'change_password' %}"><button>Change Password</button></a>
    <a href="{% url 'logout' %}"><button>Logout</button></a>
    
</body>
</html> 
